h2 {
    margin-top:1.5rem;
    font-weight: 800;
    font-size: calc(1.175rem + 2.1vh) !important;
    font-family: 'DMSans' !important;
    text-align: center;
  }
  
  .forgotPasswordContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    color: white !important;
    justify-content: center;
    }


    .forgotPasswordContainer::before {
      content: "";
      background-image: url('../../../assets/img/background_animals.jpg'); 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: blur(1px);
      z-index: -1;
      opacity: 0.8;
    }
  
  
  
  
  .forgotPasswordMainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: min(400px, 70vh);
    background-color: #000000a6;
    border-radius: 48px;
    width: min(652px, 90%);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    color: #00DDDD;
    font-weight: 500;
  }
  
  .forgotPasswordHeadlineContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  

  .forgotPasswordDescreptionContainer {
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }
  
  .formFieldPassword  {
    margin-top: 16px;
  }
  
  .forgotPasswordButtonContainer {
    display: flex;
    justify-content: center;
    width: 100;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  


  
  
  