<form [formGroup]="form">
  <div class="forgotPasswordContainer">
    <header>
      <app-header></app-header>
    </header>

    <main class="forgotPasswordMainContainer">
      <div class="forgotPasswordHeadlineContainer">
        <h2>Forgot your Password?</h2>
      </div>

      <div class="forgotPasswordDescreptionContainer">
        We will send you an email with instructions to reset your password.
      </div>


      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          (blur)="updateErrorMessage()"  
          required
        />
        <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          {{ errorMessage() }}
        </mat-error>
      </mat-form-field>

      <div class="forgotPasswordButtonContainer">
        <button mat-flat-button color="primary" (click)="sendMailForgot()">Send Email</button>
      </div>
    </main>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</form>
