.boardMainContainer {
    position: absolute;
    top: 0;
    left: 0;
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.99);
    padding-left: 64px;
    padding-right: 64px;
}


.smallVideosContainer {
    color: white;
}

.backendVideo {
    display: flex;
    overflow-x: auto;
}

.imagesforVideos {
    height: 128px;
    width: 224px;
    margin-right: 32px;
}