<app-header-logout></app-header-logout>

<main class="boardMainContainer">
<app-board-player></app-board-player>


<div class="smallVideosContainer">
<div class="backendHeadlineVideoContainer">
<div class="backendHeadline">Backend Projects</div>
<div class="backendVideo">



category Backend
</div>
</div>


<div class="angularHeadlineVideoContainer">
    <div class="angularHeadline">Angular Projects</div>
    <div class="angularVideo">

          category angular
    </div>
    </div>



    <div class="javaScriptHeadlineVideoContainer">
        <div class="javaScriptHeadline">JavaScript Projects</div>
        <div class="javaScriptVideo">
          category JavaScript
        </div>
        </div>

    </div>

</main>

<app-footer></app-footer>