h2 {
    margin-top:1.5rem;
    font-weight: 800;
    font-size: calc(1.175rem + 2.1vh) !important;
    font-family: 'DMSans' !important;
  }
  

  .resetPasswordContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    color: white !important;
    justify-content: center;
    }


    .resetPasswordContainer::before {
      content: "";
      background-image: url('../../../assets/img/background_animals.jpg'); 
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: blur(1px);
      z-index: -1;
      opacity: 0.8;
  }
  
  .resetPasswordMainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: min(500px, 70vh);
    background-color: #000000a6;
    border-radius: 48px;
    width: min(652px, 90%);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    color: #00DDDD;
    font-weight: 500;
  }





  .resetPasswordHeadlineContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }


  .resetPasswordDescreptionContainer {
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .videflixSpan {
    color: #00DDDD;
  }

  
  .resetPassword {
    display: flex;
    flex-direction: column
  }


  .formFieldPassword  {
    margin-top: 16px;
  }


  .resetPasswordButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: -16px;
    position: absolute;
    bottom: 10px;
  }


.labelDoNotMatch {
    color: #FFB4AB;
    font-size: 12px;
    margin-top: -18px;
    margin-left: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
