<div class="resetPasswordContainer">
    <header>
      <app-header></app-header>
    </header>
    
    <div></div>
    <main class="resetPasswordMainContainer">
    
    <div class="resetPasswordHeadlineContainer">
      <h2>Reset Password</h2>
    </div>
    
    
    <div class="resetPasswordDescreptionContainer">
        Create a new password for your <span class="videflixSpan">Videoflix</span> account.
    </div>

    
    <form class="resetPassword" [formGroup]="form" (ngSubmit)="onSubmit()">
       
      
    
            <mat-form-field class="formFieldPassword" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="password" required />
                <button
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                >
                <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid && password.touched">
                    {{ password.hasError('required') ? 'Password is required' : '' }}
                </mat-error>
            </mat-form-field>
      
    
        <mat-form-field class="formFieldPassword" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="confirmPassword" required />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="!passwordsMatch || confirmPassword.hasError('required')">
            {{ getPasswordErrorMessageMatch() }}
          </mat-error>
    
        </mat-form-field>
        <div class="labelDoNotMatch" *ngIf="!passwordsMatch">
            Passwords do not match
        </div>
      


        <div class="resetPasswordButtonContainer">
          <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Reset my password</button>
          </div>
      


      </form>
    
    
    
    
    
    
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
    </div>
    
